body{
    background-color: black;
    background-size: cover;
}

h1 {
    font-family: Cooper;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: violet;
    background-color: blue;
}
p {
    color: pink;
    font-size: 25px;
    background-color: black;
    text-indent: 30px;
    text text-align: center;
}